<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="styles.css">

</head>
<body>
    <h1>My name is Gielo Mar</h1>

    <div class="" id="app">
        <div v-if="toggle">
            <h3>NIce VUe JS! {{ call }}</h3>
            <h4>{{ output }}</h4>
            <button v-on:click="addClick">+</button>
            <button v-on:click="subClick">-</button>
        </div>

        <button @click="btnToggle">
            <span v-if="toggle">Hide Toggle</span>
            <span v-if="!toggle">Show Toggle</span>
        </button>


        <!-- <button v-on:click="output++">+</button>
        <button v-on:click="output--">-</button> 
        <button @click="call = "Don't Call Me!">Change Text</button>  -->

        <br>
        <!-- Mouse Events -->
        <div class="box" @mouseover="handleEvent($event, 11)">Mouseover (enter)</div>
        <div class="box" @mouseleave="handleEvent">Mouseleave</div>
        <div class="box" @dblclick="handleEvent">Double click</div>
        <div class="box" @mousemove="handleMousemove">Position - {{ x }} {{ y }}</div>
    </div>

    <br>

    <div class="" id="changeText">
        <button v-on:click="btnClick">{{ btnText }}</button>
    </div>




    <script src="app.js"></script>
    <script src="changeText.js"></script>
</body>
</html>