<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue - Part 2</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <h1>PART 2 - VUE PRACTICE</h1>
    <div class="" id="app">
        <div class="" v-if="toggle">
            <p>Book Title: {{ Book[0].title }} | Book Author: {{ Book[0].author }}</p>
        </div>

        <button @click="btnToggle">
            <span v-if="toggle">HIDE</span>
            <span v-if="!toggle">SHOW</span>
        </button>
    </div>
    
<script src="app.js"></script>
</body>
</html>